
<% if @task.errors.any? %>
    <div>
        <h2><%= pluralize(@task.errors.count, "error" ) %> prevented this task from saving</h2>
        <ul>
            <% @task.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<div class="container">

    <%= form_for @task do |f| -%>

        <div class="row">
            <div class="">
                <%= f.label :title -%>
            </div>
            <div class="">
                <%= f.text_field :title, placeholder: "Food!" -%>
            </div>
        </div>


        <div class="row">
            <div class="">
                <%= f.label :description %>
            </div>
            <div class="">
                <%= f.text_area :description, placeholder: "Eggs Milk" %>
            </div>
        </div>

        <div class="row">
            <div class="">
                <label for="category">Category</label>
            </div>
            <div class="">
                <select id="category" name="category">
                    <option value="Shopping">Shopping</option>
                    <option value="Travel">Travel</option>
                    <option value="Misc">Misc</option>
                    <option value="Health">Health</option>
                    <option value="Work">Work</option>
                </select>
            </div>
        </div>


        <div class="row">
            <div class="">
                <label for="Priority">Priority</label>
            </div>
            <div class="">
                <select id="priority" name="priority">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
        </div>

        <div class="btn">
            <%= f.submit %>
        </div>

    <% end %>

</div>