
<% if @task.errors.any? %>
    <div>
        <h2><%= pluralize(@task.errors.count, "error" ) %> prevented this task from saving</h2>
        <ul>
            <% @task.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<div class="container">

    <%= form_for @task do |f| -%>

        <div class="row">
            <div class="">
                <%= f.label :title -%>
            </div>
            <div class="">
                <%= f.text_field :title, placeholder: "Food!" -%>
            </div>
        </div>


        <div class="row">
            <div class="">
                <%= f.label :description %>
            </div>
            <div class="">
                <%= f.text_area :description, placeholder: "Eggs Milk" %>
            </div>
        </div>

        <div class="row">
            <div class="">
                <%= f.label :category %>
            </div>
            <div class="">
                <%= f.select :category, options_for_select(["Shopping", "Travel", "Health", "Misc", "Work"]) %>
            </div>
        </div>


        <div class="row">
            <div class="">
                <%= f.label :priority %>
            </div>
            <div class="">
                <%= f.select :priority, options_for_select(["1", "2", "3"]) %>
            </div>
        </div>

        <div class="btn">
            <%= f.submit %>
        </div>

    <% end %>

</div>