<h1>New Task</h1>

<%= form_for @task do |f| %>
<p>
<div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
</div>
</p>
<div>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
</div>

<div>
    <%= f.label :category %><br>
    <%= f.text_field :category %>
</div>

<div>
    <%= f.label :priority %><br>
    <%= f.text_field :priority %>
</div>

<div>
    <%= f.submit %>
</div>

<% end %>