<p>
  <strong>Title:</strong>
    <%= @task.title %>
</p>

<p>
  <strong>Due:</strong>
  <%= @task.due_date %>
</p>

<p>
  <strong>category:</strong>
  <%= @task.category %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>priority:</strong>
  <%= @task.priority %>
</p>

<%= link_to 'Delete', task_path(@task),
    method: :delete,
    data: { confirm: 'Are you sure?' } %>