<!DOCTYPE html>
<html>
  <head>
    <title>What A To-Do</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">  
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>

   


      <nav>

        <div class="start">
        <%= link_to tasks_path do %>
          <%= image_tag "logov1.png" %>
        <% end %>

       
        <% if user_signed_in? %>
          <p>Hello, <%= "#{current_user.username}!" %> </p>
        </div>
          <div class="cheat">
          <%= link_to 'New', new_task_path %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        
        <% else %>
        
          <%= link_to "About Us", tasks_path %>
		      <%= link_to "Sign In", new_user_session_path %>
		      <%= link_to "Sign Up", new_user_registration_path %> 
        </div>
	      <% end %>
      </nav>
    </header>
      <div class="main-div">

        <% flash.each do |key, value| %>
        <div class="message">
          <div class="alert-message <%= key %> fade in">
            <a class="close" href="#">&times</a>
            <center><strong><%= value %></strong></center>
          </div>
        </div>
        <% end %>

        <%= yield %>
      </div>
  </body>
</html>
